/*
Credit: http://www.templatemo.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #FFFF;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	line-height: 1.7em; 
	text-align: justify
	
	/*background-image: url(images/body.jpg);*/
	background-color: #FFE4C4;
	background-position: top center;
	background-repeat: repeat-x
	
}

a, a:link, a:visited { color: #38cdff; text-decoration: none; }
a:hover { color: ##010A0E; text-decoration: underline; }

p { margin: 0 0 15px 0; padding: 0; }
img { border: none; }

a, a:link, a:visited { color: #010608; text-decoration: none; }
a:hover { color: ##010608; text-decoration: underline; }

p { margin: 0 0 15px 0; padding: 0; }
img { border: none; }

h1, h2, h3, h4, h5, h6 { color: #333; font-weight: normal; font-family: Georgia, "Times New Roman", Times, serif }
h1 { font-size: 28px; margin: 0 0 30px 0; padding: 5px 0; }
h2 { font-size: 25px; margin: 0 0 20px 0; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { display: block; width: 139px; height: 37px; text-align: center; font-size: 14px; padding-top: 15px; color: #fff; font-family: Georgia, "Times New Roman", Times, serif; font-weight: normal; background: url(images/button.png) }
a.more:hover { text-decoration: none; color: #fff; }

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 1px solid #999; padding: 4px; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }

.col_w200 { width: 200px }
.col_w540 { width: 540px }
.col_w340 { width: 340px }
.col_w440 { width: 440px }
.v_divider { padding-right: 50px; background: url(images/divider.png) right no-repeat }

.tmo_list { margin: 20px 0; padding: 0; list-style: none; }
.tmo_list li { margin: 0 0 13px; padding: 0 0 3px 0;line-height: 1em; color: #1d1d1d; }
.tmo_list li a { color: #1d1d1d; text-decoration: underline; }
.tmo_list li a:hover { color: #990000; text-decoration: none; }



#wrapper {
	width: 960px;
	margin: 0 auto;
}
#header_wrapper {
	clear: both;
	width: 100%;
	margin: 0px auto;
	background: #031b27;
}
#header {
    height: 87px;
    width: 960px;
    padding: 0;
    margin: 0px auto;
    background: url(images/header.jpg) center top no-repeat;
}

#site_title {
	float: left;
	width: 260px;
	padding-top: 28px;
	margin-right: 40px;
}

#site_title h1 {
	margin: 0;
	padding: 0;
}

#site_title h1 a {
	display: block;
	/*background: url(images/logo.png) no-repeat;*/
	width: 200px;
	height: 55px;
	margin: 0 0 0 30px;
	padding: 0;
	font-size: 40px;
	color: #d07f0b;
	font-weight: normal;
	text-decoration: none;
	text-indent: -10000px
}

#site_title a span {
	display: block;
	font-size: 16px;
	color: #fff;
	font-weight: normal;
	margin-top: 10px;
}

#menu {
	float: left;
	width: 600px;
	height: 76px;
	padding: 0;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#menu ul li a {
	float: left;
	display: block;
	position: relative;
	width: 95px;
	height: 30px;
	padding: 46px 0 0 0;
	margin: 0 5px 0 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #d9d9d9;	
	font-weight: normal;
	outline: none;
	border: none;
	background: url(images/menu.png) no-repeat top
}

#menu ul li a span {
	position: absolute;
	top: 5px;
	left: 32px;
	width: 38px;
	height: 37px;
}
#menu ul li a span.home { background: url(images/home.png) no-repeat }
#menu ul li a span.portfolio /*{ background: url(images/portfolio.png) no-repeat }*/
#menu ul li a span.projects /*{ background: url(images/project.png) no-repeat }*/
#menu ul li a span.gallery /*{ background: url(images/gallery.png) no-repeat }*/

#menu ul li a:hover, #menu ul li .current { color: #0fa7ba;  }
#menu ul li .last { background: none }

#search_box { float: right; width: 208px; height: 28px; margin-top: 30px; background: url(images/search.png) no-repeat; }
#search_box form { clear: both; width: 208px; height: 28px; padding: 0; } 
#searchfield { height: 18px; width: 130px; padding: 5px; color: #ccc; background: none; border: none; } 
#searchbutton { height: 26px; width: 60px; padding: 5px 0; margin: 0; cursor: pointer; background: none; border: none; }

#slider {
	clear: both;
	width: 960px;
	height:245px;
	background: #000;
	margin-bottom: 40px;
	overflow: hidden;
}

#middle {
	clear: both;
	width: 960px;
	height: 347px;
	/*color: #f6f6f6;*/
	margin-bottom: 40px;
	/*background: url(images/content.jpg) bottom left no-repeat*/
 
}

#middle h1 {
	color:  #120202;;
}

.twitter_col {
	padding-bottom: 60px;
	background: url(images/twitter_02.png) bottom right no-repeat
}

.twitter_box {
	padding-top: 40px;
	background: url(images/twitter.png) top left no-repeat;
}

.tb_entry {
	margin-bottom: 10px;
}

#content {
	clear: both;
	width: 960px;
	margin-bottom: 40px;
}

.gallery { clear: both; margin: 0; padding: 0; list-style: none; }
.gallery li { margin: 0; padding: 0; }
.gallery li a { display: block; float: left; margin: 0 15px 15px 0 }

#footer_wrapper {
	clear: both;
	width: 100%;
	padding: 30px 0;
	background: #031b27;

}

#footer {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	color: #d6d6d6;
	
}

#footer a {
	font-weight: normal;
	color: #fff;
}

#taglist {
  display: inline;
  /*list-style: none;
}

#taglist li {
  display: inline;
}

#taglist li:after {
  content: ", ";
}

#taglist li:last-child:after {
  content: "";
}

#taglist li:nth-last-child(2):after {
  content: " & ";
}
#taglist li:nth-last-child(3) ~ li:nth-last-child(2):after {
  content: ", & ";
}
